@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: center;
  padding: 30px 100px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: #1d1d24;
  position: relative;
  padding: 5px 0;
}

nav ul li a:hover {
  color: #fd4766;
}

nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #fd4766;
  transition: .5s;
  bottom: 0;
}

nav ul li a:hover:after {
  width: 100%;
}


  
  
  .card {
    width: 300px;
    height: 450px;
    background: #fff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 1);
  }
  
  .img-bx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transform: translateY(30px) scale(0.5);
    transform-origin: top;
  }
  
  .img-bx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
  }
  
  .content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .content .detail h2 {
    color: #444;
    font-size: 1.6em;
    font-weight: bolder;
  }
  
  .content .detail h2 span {
    font-size: 0.7em;
    color: #fd4766;
    font-weight: bold;
  }
  
  .insta{
    width: 40px;
    border-radius: 15px;
  }

  .insta:hover{
    opacity: 0.5;
    transition: .4s;
    transform: rotate(20deg);
  }

  .github{
    width: 40px;
    border-radius: 15px;
  }

  .github:hover{
    opacity: 0.5;
    transition: .4s;
    transform: rotate(20deg);
  }

  .linkedin{
    width: 40px;
    border-radius: 15px;
  }

  .linkedin:hover{
    opacity: 0.5;
    transition: .4s;
    transform: rotate(20deg);
  }
  
  .twitter{
    width: 40px;
    border-radius: 15px;
  }

  .twitter:hover{
    opacity: 0.5;
    transition: .4s;
    transform: rotate(20deg);
  }

  .link{
    width: 40px;
    border-radius: 15px;
  }

  .link:hover{
    opacity: 0.5;
    transition: .4s;
    transform: rotate(20deg);
  }

  .cards{
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
  }

  svg{
    margin-top: 450px;
    position: fixed;
  }