* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: center;
  padding: 30px 100px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: #1d1d24;
  position: relative;
  padding: 5px 0;
}

nav ul li a:hover {
  color: #fd4766;
}

nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #fd4766;
  transition: .5s;
  bottom: 0;
}

nav ul li a:hover:after {
  width: 100%;
}

svg{
  margin-top: 450px;
  position: fixed;
}

#tudo{
  width: 960px;
  height:600px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

p{
  font-size: 16px;
  text-align: center;  
  font-family:arial;
  padding: 10px;
  text-transform: uppercase;
  color: #1f1f25;
  font-weight: 900;
  line-height: 70px;
  }

p:hover{
  cursor: pointer;
  font-size: 20px;
  color: #fd4766;
  transition: .5s;
}

.box{
  width: 200px;
  height: 100px; 
  background: #ededed;
  margin: 0 auto;
  border-radius: 20px;
  border: 3px solid #575656;
}
  
.pontoum, .pontodois, .pontotres, .pontoquatro{
  width: 13px;
  height: 13px;
  background-color: #ededed;
  display: block;
  border: 2px solid orange;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
}
   
.pontoum{
  top: 93px;
  left: 474px;
 }

.pontodois{
  top: 42px;
  left: 190px;
}
  
.pontotres{
  top: 40px;
  left: -8px;
}

.pontoquatro{
  top: 295px;
  left: 473px;
}

.linha-horizontal{
  width: 117px;
  height: 6px;
  background-color: #b3b2b2;
  display: block;
  position: absolute;
  top: 44px;
  left: 198px;  
}
  

.linha-vertical{
  width: 6px;
  height: 200px;
  background-color: #b3b2b2;
  display: block;
  margin: 5px auto;
  position: relative;
}

.dois{
  position: absolute;
  top: 150px;
  left: 220px;
  }

.tres{
  position: absolute;
  top: 150px;
  right: 220px;
}

.quatro{
  margin-top: -10px;
}
